@model IEnumerable<Modelo.Consulta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exame.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sintomas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exame.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sintomas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConsultaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConsultaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConsultaId })
        </td>
    </tr>
}

</table>
